@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

:root {
    --primary: #202123;
    --secondary: #343541;
    --tertiary: #444654;
    --quaternary: #FECC6D;
    --quinary: #8D40D4;
    --tenary: #fafafa;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    overflow-x: hidden;
    display: flex;
}

.container {
    width: 100vw;
    background-color: var(--secondary);
}

.nav {
    background-color: var(--primary);
    padding: 15px 60px;
    display: flex;
    align-items: center;
}

.nav ul li a {
    text-decoration: none;
    margin-left: 12px;
    color: var(--quaternary);
}

.nav ul li i {
    color: var(--quaternary);
    font-size: 15px;
}

.nav ul li {
    list-style: none;
}

.nav ul {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
}

.search {
    font-family: 'Exo 2', sans-serif;
    height: 40px;
    width: 260px;
    border-radius: 30px;
    padding: 0 15px;
    border: none;
    color: var(--tenary);
    border: 2px var(--quaternary) solid;
    background-color: transparent;
}

.search:focus {
    background-color: var(--secondary);
    outline: none;
    border: none;
}

.search::placeholder {
    color: darkgrey;
}

.logo {
    height: 50px;
}

.content {
    height: 1200px;
}

.card {
    margin: 60px;
    width: 100%;
    max-width: 300px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover{
    transform: scale(1.02);
    box-shadow: rgba(14, 30, 37, 0.574) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.img-container {
    width: 100%;
}

.movie-img {
    display: block;
    width: 100%;
}

@media (max-width: 992px) {
    nav ul li a {
        display: none;
    }
}

@media (max-width: 630px) {

    .nav {
        padding: 8px 25px;
    }

    .search {
        width: 100%;
        height: 35px;
    }

    .logo {
        height: 35px;
    }
}